.game-ui {
  pointer-events: none;
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 10;
  color: whitesmoke;
}

h1 {
  font-size: 2rem;
  margin: 0.5rem;
}

h2 {
  font-size: 1.5rem;
  margin: 0.25rem;
}
