.game-ui {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 10;
  color: whitesmoke;
  & h1 {
    font-size: 2rem;
    margin: .5rem;
  }
  & h2 {
    font-size: 1.5rem;
    margin: .25rem;
  }
}
