$yellow: #fcdb73;
$blue: #1334ff;
$pink: #f99bf3;
$green: #6adeb8;
$orange: #ff6b35;
$lightRed: #ff5a5a;
$red: #dc103c;
$white: #ffffff;
$lightGray: #cecdd0;
$mediumGray: #948d9b;
$darkGray: #4d4851;
$black: #28252a;
