.container {
  box-shadow: $debug-element-box-shadow;
  &::before, &::after {
    z-index: 0;
  }

  &.disabled {
    cursor: not-allowed;
    pointer-events: none;
    filter: grayscale(100%);
  }

  &.with-title > .title {
    z-index: 1;
    position: relative;
  }

  &.is-dark {
    color: whitesmoke;
  }

  &:not(.is-dark) {
    background: $debug-container-light-background;
    color: #26292d;

    &.with-title > .title {
      background-color: $debug-container-light-background;
    }
  }
  & > * {
    position: relative;
    z-index: 2;
  }
}
