.debug-button {
  width: 64px;
  outline: none;
  border: none;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: #26292d;
  box-shadow: $debug-element-box-shadow;
  &.is-dark {
    background: #26292d;
    color: whitesmoke;
    & i.icon {
      color: whitesmoke;
    }
  }
  z-index: 10000;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

}
