.game-state-list {
  margin-top: 10px;
  &--item {
    margin-right: 10px;
    &:last-of-type {
      margin-right: 0;
    }
    & input:checked + span {
      color: red;
    }
    &:hover {
      opacity: 0.5;
    }
  }
}
