@import '~nes.css/css/nes.css';
@import './bootstrap';

body {
  font-family: 'Press Start 2P', sans-serif;
  background: #28252a;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

#notifications {
  position: fixed;
  pointer-events: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  z-index: 10000;
  align-items: center;
  display: none;
  &.visible {
    display: flex;
  }
}
